@model ProductViewModel
@{
    ViewData["Title"] = "Add";
}

<h1>Producto Nuevo</h1>


<div class="row mt-5">
    <form method="post" asp-action="AddSavedAction">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-6">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="col-md-6">
                <label asp-for="Price"></label>
                <input type="text" asp-for="Price" class="form-control" />
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">
                <label asp-for="Stock"></label>
                <input type="text" asp-for="Stock" class="form-control" />
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row mt-3">

            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">
                    Grabar
                </button>
                <a class="btn btn-secondary">
                    Volver
                </a>
            </div>
        </div>
    </div>
    </form>
</div>
