@model ProductListViewModel;
@{
    ViewData["Title"] = "List";
}

<h1>Listado Productos</h1>

<div class="row mt-5">
    <div class="col-md-12">


        <table class="table">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Precio
                    </th>
                    <th>
                        Stock
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.List)
                {
                    <tr>
                        <td>
                            @item.Id
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.Stock
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<div class="row">
    <div class="md-12">
        <a class="btn btn-primary" asp-action="Add" asp-controller="Product">
            Añadir Nuevo
        </a>
    </div>
</div>